{% extends 'base.html' %}

{% block content %}

<div class="contenedor">

    <div class="card" style="padding:30px; text-align:center;">

        <h1>Pedido #{{ pedido.id }}</h1>

        <p>Cliente: {{ pedido.cliente }}</p>
        <p>Total: ${{ pedido.total }}</p>

        <h2>Estado actual</h2>

        <h1 style="color:#00e676;">{{ pedido.estado }}</h1>

        
        <div style="text-align:center;">
            <a href="{{ url_for('main.menu') }}" class="volver-btn">
                ← Volver al menú
            </a>
        </div>
    </div>

</div>

{% endblock %}